@page "/employeeoverview"

<h1 class="page-title">All Employee</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>EmployeeId</th>
            <th>FristName</th>
            <th>LastName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Employees)
        {
            <tr>
                <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" class="rounded-circle" /></td>
                <td>@employee.EmployeeId</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>
                    <a href="@($"employeedetail/{employee.EmployeeId}")" class="btn btn-primary table-btn">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a class="btn btn-outline-danger" @onclick="(()=>Delete(employee.EmployeeId))">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> 